{% extends 'base.html' %}



{% block body %}
<div class="text">
<h2>About</h2>
<p class="about">Diabetes is a prevalent and complex health condition, and understanding the 
    relationships between various medical parameters and diabetes progression is critical 
    for effective patient management and healthcare decision-making. The Python 
    Diabetes dataset contains relevant data, but its potential insights can be challenging 
    to unlock without proper tools.
    The Web-Based Diabetes Dataset Visualization Application is an innovative project 
    aimed at developing a user-friendly web application to visualize and analyze the 
    Python Diabetes dataset. This project responds to the growing need for accessible 
    tools to explore healthcare data and extract valuable insights related to diabetes and 
    its contributing factors</p>

<h2>Data and Methods</h2>
<h3>Data</h3>
<p class="about">The data used in this project was collected from the <a href="https://www.niddk.nih.gov/">National Institute of Diabetes and Digestive and Kidney
    Diseases</a>. It was designed to collect information to predict whether a patient has diabetes. All patients are female and at least 21 years old. The data is available from download from 
    <a href="https://www.kaggle.com/datasets/akshaydattatraykhare/diabetes-dataset?resource=download">Kaggle</a>.
</p>

<p>
This website was created as a final project for <a href="https://luddy.indiana.edu/academics/courses/class/iub-fall-2023-dsci-d590">Applied data science</a>
for the Fall 2023 semester. 
</p>

{% endblock %}