{% extends 'base.html' %}



{% block body %}
<h2>Who We Are </h2>

<h3>The Team </h3>

<p>Meet the dedicated individuals behind the scenes: </p>
<ul>
    <li><b>Hemraj Yadav</b>
	<p><a href="http://www.linkedin.com/in/hemraj-yadav-6b4b1129">Hemraj Yadav</a>, a seasoned cloud leader with 19+ years of expertise, excels in service delivery, cloud architecture, and business consulting. Renowned for driving growth and profitability, he specializes in operational efficiencies, leadership development, and cultivating a culture of excellence. His strengths encompass cost efficiencies, strategic partnerships, and governance. Expertise spans operations and IT management, including data center migration, devops, and hybrid cloud governance. Skilled in strategic thinking, project portfolio management, and fostering organizational culture. His track record underscores a commitment to exceeding goals and promoting accountability.</p> 
<p>Notably, Hemraj is currently pursuing a master's in Data Science at Indiana University Bloomington.</p>
	</li>
    <li><b>Kevin Fosnacht, Ph.D.</b>
	<p>
	<a href="https://www.linkedin.com/in/kfosnacht/">Dr. Fosnacht</a> is a quantitative researcher focusing on education outcomes with over 10 years of post-doctoral experience. 
	He has over 20 peer-reviewed publications, contributed to numerous reports, and have been frequently featured in both the popular and trade presses.

	Kevin served as a faculty research scientist at Indiana University, where he was part of a team administering North America's largest survey of 
	undergraduates for about a decade. More recently Dr Fosnacht transitioned to ed-tech where he researches and assesses product impact, 
	contributes to product development, and conducts product analytics. 
	
	Kevin is currently a student pursuing a data science certificate at <a href="https://www.indiana.edu/">Indiana University, Bloomington</a> in the 
<a href="https://luddy.indiana.edu/">Luddy School of Informatics, Computing, and Engineering</a>
 .
	</p>
	</li>
    <li><b>Poorva Poorva </b></li>
</ul>
     

<h3>What Sets Us Apart </h3>

<p>What makes the Web-Based Diabetes Data Insights Hub unique is our commitment to simplicity in navigating complex healthcare data. We believe in transforming the Python Diabetes dataset into a powerful tool accessible to all, regardless of technical background. </p>

 

<h3>Our Story</h3> 

<p>In the realm of website development, our team has explored options like Shiny and Flask. </p>

<p>The journey of the Web-Based Diabetes Data Insights Hub began with a shared passion for data science and a commitment to making a meaningful impact on healthcare research. As a team, we came together to create a platform that would empower individuals to harness the potential of the Python Diabetes dataset for the betterment of patient outcomes. </p>

 

<h3>Core Values </h3>

<p>At the Web-Based Diabetes Data Insights Hub, we are guided by a set of core values: </p>
<ul>
    <li><b>Simplicity:</b> We believe in simplifying data complexities for everyone. </li>

    <li><b>Innovation:</b> We embrace innovative solutions for impactful data visualization. </li>

    <li><b>Collaboration:</b> We foster collaboration for collective knowledge and insights. </li>
</ul>
 

<h3>How We Work</h3>
<p>Our work is driven by a commitment to delivering a seamless user experience. From intuitive data visualizations to interactive features, we prioritize accessibility for users of all backgrounds. </p>

{% endblock %}